body{
    background-color: #d1d09a;
}

.hoofdtekst {
    margin-top: 10%;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{ 
    font-size: 100px;
}

h2{
    font-size: 25px;
}

h3{ 
    margin-top: 20px;
    font-style: italic;
}

